script(src='//localhost:35729/livereload.js')

h1 hello world
p this is a parragraph aslkjfa침ksjf
p creo que esto ya est치, por fin
p hola buenas tardes
h2 esto est치 fallando m치s que una escopeta de feria